<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="stepPicX" value="140"/>
		<add key="stepPicY" value="140"/>
		<add key="precision" value ="95"/>
	</appSettings>
</configuration>